*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS'; 
}

body{
    background-color: #502c9d;
}


.nav-item{
    display: flex;
    
    
}
.cabecalho {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #2e1150; 
    padding: 20px 20px 20px; 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6); 
}


.nomezinho {
    font-size: 18px;
    margin: 0;
    margin-right: -200px;
    cursor: pointer; 
    transition: color 0.3s; 
    color: white;
}

.nomezinho:hover {
    color: #833c59; 
}



.pesquisar {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    width: 180px;
    
}

.botao {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #833c59; 
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: red; 
}

.titulo {
    font-size: 48px;
    font-family: "Lilita One";
    letter-spacing: 2px;
    font-weight: bold;
    margin: 80px 20px 40px; 
    padding: 20px;
    text-align: center;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
    gap: 20px;
    padding: 20px 20px; 
    margin-top: 50px; 
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    background-color: #2e1150; 
    color: white;
}

.imagem {
    max-width: 100%;
    border-radius: 10px; 
    margin-bottom: auto;
}

.nome {
    font-size: 20px;
    font-family:'Trebuchet MS';
    text-align: center;
    text-transform: uppercase; 
}

.texto {
    font-size: 15px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color: white; 
}


.botaozin{
    font-size: medium;
    font-family: 'Trebuchet MS';
    color:#ccc;
    background-color: #2e1150;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.botaozin:hover{
    background-color: #502c9d;
}